body
{
    font-family: "Noto Serif JP", serif;
    font-style: normal;
    text-align: center;
    background-color: #f5f2ed;
    color: #5D554D;
    fill: #5D554D;;
    font-size: 14px;
    z-index: 0;
}
br
{
    display: none;
}
a
{
    text-decoration: none;
}
.layer-1,
.layer-2,
.layer-3,
.layer-4,
.layer-5,
.layer-6,
.layer-7
{
    position: relative;
}
.layer-1
{
    z-index: 1;
}
.layer-2
{
    z-index: 2;
}
.layer-3
{
    z-index: 3;
}
.layer-4
{
    z-index: 4;
}
.layer-5
{
    z-index: 5;
}
.layer-6
{
    z-index: 6;
}
.layer-7
{
    z-index: 7;
}
.right-branch,
.left-branch
{
    position: absolute;
    opacity: .5;
    width: 40vw;
}
.right-branch
{
    right: -10vw;
    bottom: 10vh;
    transform: scale(-1, 1);
}
.left-branch
{
    left: 0;
    bottom: 0;
}
.text-color-red
{
    color: #d47065;
}
.title
{
    font-size: 40px;
}
.heading-main
{
    font-size: 20px;
}
.heading-category
{
    font-size: 20px;
}
.overflow-hidden
{
    overflow: hidden;
}
.flex-row-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row-between
{
    display: flex;
    justify-content: space-between;
}
.flex-column-center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.has-border-bottom
{
    display: inline-block;
    border-bottom: 1.5px solid #5D554D;
    padding: .25rem 1.5rem;
}
.button
{
    display: inline-block;
    background-color: #CBBBAF;
    color: #fff;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    transition: .3s;
}
.button:hover
{
    background-color: #fff;
    color: #CBBBAF;
    box-shadow: 0px 4px 12px rgba(107, 85, 67, 0.25);
}
.button:active,
.navmenu-open-btn:active,
.navmenu-close-btn:active,
.navmenu-btn:active,
.sns-btn:active
{
    opacity: .2;
}
.divider
{
    gap: .5rem;
}
.divider hr
{
    border: 1px solid #d47065;
    width: 25px;
}
.divider img
{
    width: 2.5vw;
}

/*
Header
*/
.header-wrapper
{
    position: fixed;
    width: 100vw;
    padding: 1rem;
}
.logo-img
{
    width: 15vw;
    background-color: #E8E5E2;
    border-radius: 50%;
}
.navmenu-open-btn,
.navmenu-close-btn
{
    width: 28px;
    transition: .3s;;
}
.navmenu-open-btn:hover,
.navmenu-close-btn:hover
{
    fill: #CBBBAF;
}
.navmenu-close-btn
{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.navmenu-panel
{
    gap: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f5f2ed;
    width: 75vw;
    height: 100vh;
    translate: 100vw;
}
.navmenu-logo-img
{
    width: 45vw;
}
.navmenu-list
{
    list-style: none;
}
.navmenu-btn
{
    -webkit-appearance: none;
    appearance: none;
    gap: .5rem;
    background-color: #FFFDF8;
    color: #5D554D;
    border: 1px solid #DED2C0;
    border-radius: 50px;
    width: 58vw;
    padding: .25rem 0;
    margin: .5rem auto;
    transition: .3s;
}
.navmenu-btn:hover
{
    color: #FFFDF8;
    fill: #FFFDF8;
    background-color: #5D554D;
}
.navmenu-btn svg
{
    width: 14px;
}

/*
About
*/
#about-wrapper
{
    gap: .5rem;
    background-color: #e7e5e2;
    position: relative;
    height: 100vh;
}
#about-logo-wrapper
{
    position: relative;
}
#about-logo-background-img
{
    width: 90vw;
}
#logo-white-img
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
}
.shop-view-img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
}
#about-wrapper p
{
    margin: 0 1rem;
}

/*
Menu
*/
#menu-wrapper
{
    gap: 2rem;
    background: #f5f2ed;
    padding: 2rem 0;
}
#menu-wrapper p
{
    margin: 0 1rem;
}
#products-img
{
    width: 75vw;
}

/*
Access
*/
#access-wrapper
{
    gap: 1.5rem;
    background-color: #f5f2ed;
    position: relative;
    padding: 2rem 0;
}
#access-table
{
    width: 320px;
    border-spacing: 0
}
#access-table th,
#access-table td
{
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #5D554D;
}
#access-table th
{
    padding: 1rem;
}
.sns-wrapper
{
    gap: .5rem;
}
.sns-btn
{
    color: inherit;
    font-size: 24px;
    transition: .3s;
}
.sns-btn:hover
{
    color:#CBBBAF;
}

/*
Footer
*/
.copyright
{
    background-color: #E8E5E2;
    color: #2F2B28;
    padding: 1.25rem 0;
}

/*
MenuPage
*/
#menu-page-wrapper
{
    position: relative;
    background-color: #f5f2ed;
}
.title-wrapper
{
    gap: 1rem;
    padding: 4rem 2rem;
}
.category-header
{
    gap: .25rem;
    width: 80vw;
    margin: 0 auto;
}
.category-header hr
{
    flex: 1;
    border: 1px solid #d47065;
}
.category-header img
{
    width: 5vw;
}
.product-list
{
    gap: 1rem;
    width: 90vw;
    margin: 1.5rem auto;
}
.product-item
{
    background-color: #FFFDF8;
    border: 1px solid #DED2C0;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(107, 85, 67, 0.15);
    padding: 1rem;
}
.product-img
{
    width: 30vw;
}
#drink-table
{
    width: 60vw;
    border-spacing: 0 1rem;
    margin: 1.5rem auto;
}
#drink-table th,
#drink-table td
{
    border-bottom: 1px dotted #5D554D;
}
#drink-table th
{
    text-align: left;
    padding-left: 1rem;
}
#drink-table td
{
    text-align: right;
    padding-right: 1rem;
}

/*
Tablet
*/
@media (min-width: 768px)
{
    /*
    Header
    */
    .logo-img
    {
        width: 10vw;
    }
    .navmenu-panel
    {
        width: 35vw;
    }
    .navmenu-logo-img
    {
        width: 21vw;
    }
    .navmenu-btn
    {
        width: 27vw;
    }

    /*
    Common
    */
    br
    {
        display: inline;
    }
    .right-branch,
    .left-branch
    {
        width: 30vw;
    }
    .right-branch
    {
        right: -7vw;
    }
    .title
    {
        font-size: 50px;
    }
    .heading-main
    {
        font-size: 30px;
    }
    .grid
    {
        grid-template-columns: repeat(3, 1fr);
    }
    .has-border-bottom
    {
        padding: .35rem 2.25rem;
    }
    .divider hr
    {
        width: 35px;
    }
    .divider img
    {
        width: 2vw;
    }

    /*
    About
    */
    #about-logo-background-img
    {
        width: 50vw;
    }
    #logo-white-img
    {
        width: 22vw;
    }
    .shop-view-img
    {
        width: 50vw;
    }

    /*
    Menu
    */
    #products-img
    {
        width: 50vw;
    }

    /*
    Access
    */
    #access-table
    {
        width: 416px;
    }

    /*
    MenuPage
    */
    .title-wrapper
    {
        padding: 4rem 0;
    }
    .category-header
    {
        width: 75vw;
    }
    .category-header img
    {
        width: 3vw;
    }
    .product-list
    {
        width: 85vw;
    }
    .product-img
    {
        width: 20vw;
    }
    #drink-table
    {
        width: 50vw;
    }
}

/*
PC
*/
@media (min-width: 1025px), (orientation: landscape)
{
    /*
    Header
    */
    .logo-img
    {
        width: 5vw;
    }
    .navmenu-panel
    {
        width: 20vw;
    }
    .navmenu-logo-img
    {
        width: 12vw;
    }
    .navmenu-btn
    {
        width: 16vw;
    }

    /*
    Common
    */
    br
    {
        display: inline;
    }
    .right-branch,
    .left-branch
    {
        width: 15vw;
    }
    .right-branch
    {
        right: -3.5vw;
    }
    .title
    {
        font-size: 50px;
    }
    .heading-main
    {
        font-size: 30px;
    }
    .grid
    {
        grid-template-columns: repeat(3, 1fr);
    }
    .has-border-bottom
    {
        padding: .35rem 2.25rem;
    }
    .divider hr
    {
        width: 35px;
    }
    .divider img
    {
        width: 1.5vw;
    }

    /*
    About
    */
    #about-logo-background-img
    {
        width: 25vw;
    }
    #logo-white-img
    {
        width: 11vw;
    }
    .shop-view-img
    {
        width: 25vw;
    }
    #about-wrapper p
    {
        margin: 0;
    }

    /*
    Menu
    */
    #products-img
    {
        width: 30vw;
    }

    /*
    Access
    */
    #access-table
    {
        width: 416px;
    }

    /*
    MenuPage
    */
    .title-wrapper
    {
        padding: 4rem 0;
    }
    .category-header
    {
        width: 60vw;
    }
    .category-header img
    {
        width: 2.5vw;
    }
    .product-list
    {
        width: 70vw;
    }
    .product-img
    {
        width: 15vw;
    }
    #drink-table
    {
        width: 40vw;
    }
}