body
{
    font-family: "Noto Serif JP", serif;
    font-style: normal;
    text-align: center;
    color: #5D554D;
    z-index: 0;
}
br
{
    display: none;
}
a
{
    text-decoration: none;
}
.contet-layer
{
    z-index: 1;
}
.navmenu-btn-layer
{
    z-index: 3;
}
.layer-1
{
    z-index: 1;
}
.layer-2
{
    z-index: 2;
}
.layer-3
{
    z-index: 3;
}
.layer-4
{
    z-index: 4;
}
.layer-5
{
    z-index: 5;
}
.right-branch,
.left-branch
{
    position: absolute;
    opacity: .5;
    width: 40vw;
}
.right-branch
{
    right: -10vw;
    bottom: 10vh;
    transform: scale(-1, 1);
}
.left-branch
{
    left: 0;
    bottom: 0;
}
.sns
{
    display: flex;
    gap: .5rem;
    justify-content: center;
}
.insta-btn,
.tiktok-btn
{
    color: inherit;
    font-size: 24px;
}
.circle-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDF8;
    border: 1px solid #DED2C0;
    border-radius: 50%;
    color: inherit;
    font-size: 24px;
    width: 48px;
    height: 48px;
}

/*
Header
*/
.header-wrapper
{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100vw;
}
.logo
{
    width: 15vw;
    background-color: #E8E5E2;
    border-radius: 50%;
    margin: .5rem;
}
.navmenu-open-btn
{
    width: 7.5vw;
    fill: #5D554D;
    margin: 1rem;
}
.navmenu-panel
{
    display: flex;
    gap: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f5f2ed;
    width: 75vw;
    height: 100vh;
    z-index: 2;
    translate: 100vw;
}
.navmenu-close-btn
{
    position: absolute;
    top: 0;
    right: 0;
    width: 7.5vw;
    fill: #5D554D;
    margin: 1rem;
}
.navmenu-logo
{
    width: 50vw;
}
.navmenu-list
{
    list-style: none;
}
.navmenu-btn
{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #FFFDF8;
    border: 1px solid #DED2C0;
    border-radius: 50px;
    width: 50vw;
    padding: .5rem 1rem;
    margin: 1rem auto;
}
.navmenu-btn svg
{
    width: 7.5vw;
    fill: #5D554D;
}
.navmenu-btn span
{
    font-size: 20px;
}

/*
About
*/
#about-wrapper
{
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e5e2;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#about-logo
{
    position: relative;
}
#about-logo-background
{
    width: 90vw;
}
#logo-white
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
}
.shop-view-img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
}
#about-wrapper h1
{
    font-size: 20px;
}
#about-wrapper p
{
    font-size: 14px;
    margin: 0 1rem;
}

/*
Menu
*/
#menu-wrapper
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f2ed;
    padding: 2rem 0;
}
#menu-wrapper h1
{
    display: inline-block;
    font-size: 20px;
    border-bottom: 1.5px solid #5D554D;
    padding: .25rem 1.5rem;
}
#menu-wrapper p
{
    font-size: 14px;
    margin: 0 1rem;
}
#products-img
{
    width: 75vw;
}
#menu-btn
{
    background: #CBBBAF;
    color: #fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

/*
Information
*/
#information-wrapper
{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f2ed;
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
}
#information-wrapper h1
{
    display: inline-block;
    font-size: 20px;
    border-bottom: 1.5px solid #5D554D;
    padding: .25rem 1.5rem;
}
#information-table
{
    width: 320px;
    border-spacing: 0
}
#information-table th,
#information-table td
{
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #5D554D;
}
#information-table th
{
    padding: 1rem;
}
#table-reservation-btn
{
    background-color: #CBBBAF;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    padding: 0.5rem 2rem;
}

/*
Footer
*/
.copyright
{
    background-color: #E8E5E2;
    color: #2F2B28;
    padding: 1.25rem 0;
}

/*
MenuPage
*/
#menu-page-wrapper
{
    position: relative;
    background-color: #f5f2ed;;
}
.title
{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}
.title h1
{
    font-size: 40px;
}
.title p
{
    font-size: 14px;
}
.horizontal-rule
{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.horizontal-rule hr
{
    border: 1px solid #d47065;
    width: 25px;
}
.horizontal-rule img
{
    width: 2.5vw;
}
.category
{
    display: flex;
    gap: .25rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
.category hr
{
    flex: 1;
    border: 1px solid #d47065;
}
.category img
{
    width: 5vw;
}
.category h2
{
    color: #d47065;
    font-size: 20px;
}
.product-list
{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem 2rem;
}
.product-item
{
    background-color: #FFFDF8;
    border: 1px solid #DED2C0;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(107, 85, 67, 0.15);
    padding: 1rem 0;
}
.product-img
{
    width: 30vw;
}
#drink-table
{
    border-spacing: 0 1rem;
    padding: 1.5rem 0;
    margin: 0 auto;
}
#drink-table th,
#drink-table td
{
    text-align: left;
    font-size: 14px;
    border-bottom: 1px dotted #5D554D;
    padding: 0 2rem;
}

/*
Tablet
*/
@media (min-width: 768px)
{
    /*
    Header
    */
    .logo
    {
        width: 10vw;
    }

    /*
    Common
    */
    br
    {
        display: inline;
    }
    .right-branch,
    .left-branch
    {
        width: 30vw;
    }
    .right-branch
    {
        right: -7vw;
    }

    /*
    About
    */
    #about-logo-background
    {
        width: 50vw;
    }
    #logo-white
    {
        width: 22vw;
    }
    #about-wrapper h1
    {
        font-size: 20px;
    }

    /*
    Menu
    */
    #menu-wrapper h1
    {
        font-size: 30px;
        padding: .35rem 2.25rem;
    }
    #products-img
    {
        width: 50vw;
    }

    /*
    Information
    */
    #information-wrapper h1
    {
        font-size: 30px;
        padding: .35rem 2.25rem;
    }
    #information-table
    {
        width: 416px;
    }
}

/*
PC
*/
@media (min-width: 1025px), (orientation: landscape)
{
    /*
    Header
    */
    .logo
    {
        width: 5vw;
    }

    /*
    Common
    */
    br
    {
        display: inline;
    }
    .right-branch,
    .left-branch
    {
        width: 15vw;
    }
    .right-branch
    {
        right: -3.5vw;
    }

    /*
    About
    */
    #about-logo-background
    {
        width: 25vw;
    }
    #logo-white
    {
        width: 11vw;
    }
    #about-wrapper p
    {
        margin: 0;
    }

    /*
    Menu
    */
    #menu-wrapper h1
    {
        font-size: 30px;
        padding: .35rem 2.25rem;
    }
    #products-img
    {
        width: 30vw;
    }

    /*
    Information
    */
    #information-wrapper h1
    {
        font-size: 30px;
        padding: .35rem 2.25rem;
    }
    #information-table
    {
        width: 416px;
    }
}